@import 'fonts';
@import 'login';
@import 'sidebar';
@import 'customnav';
body
{
    padding:0;
    margin:0;
  //  overflow: hidden;
}
.paginate_button:hover{
  border:none!important;
  background:transparent!important;
}




